name: Release Package

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
    - name: Set up Node
      uses: actions/setup-node@v6.2.0
      with:
        node-version: 'lts/*'
        cache: 'yarn'
        registry-url: 'https://registry.npmjs.org'
    - name: Install dependencies
      run: yarn install
    - name: Build
      run: yarn build
    - name: Parse tag
      id: parse_tag
      run: "echo ${{ github.ref }} | sed 's#^refs/tags/#::set-output name=version::#'"
    - name: Create release
      id: create_release
      uses: release-drafter/release-drafter@v6
      with:
        name: ${{ steps.parse_tag.outputs.version }}
        tag: ${{ steps.parse_tag.outputs.version }}
        version: ${{ steps.parse_tag.outputs.version }}
        publish: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish to NPM
      run: yarn publish
